# 覆盖全局 .npmrc 里废弃的 npm.taobao.org 镜像，避免 TLS 证书 hostname 不匹配
registry=https://registry.npmmirror.com/
disturl=https://registry.npmmirror.com/-/binary/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
